<link rel="stylesheet" href="/style.css">
<div class="my-3">
    <div class="container">
        <form method="POST" action="https://btcpal.online/apps/4SzvB5nnqAeM6mi8hMjxSeSGw3L3/pos">

            <h2>Tic Tac Toe - 1 satoshi</h2>

            <input readonly
                   id="orderId"
                   value="{{orderId}}"
                   class="form-control"
                   hidden
                   name="orderId"
            />
            <input type="hidden" name="orderId" value="{{orderId}}"/>
            <input type="hidden" name="notificationUrl"
                   value="http://74.207.232.172:4321/notifications/{{orderId}}/{{userId}}"/>
            <input type="hidden" name="redirectUrl" value="http://74.207.232.172:4321/order/{{orderId}}"/>
            <button type="submit" name="choiceKey" value="game" class="btn btn-outline-warning">
                Buy
                <img src="/btc.svg" alt="btc" width="40" height="40"/>
            </button>
        </form>

    </div>

</div>
