<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="my-3">
    <div class="container text-center">
       <h1>{{title}}</h1>

        <form method="POST" action="{{btcpay_host}}/apps/{{btcpay_store_id}}/pos">


            <label for="orderId"></label>
            <input class="form-control" readonly
                   id="orderId"
                   value="{{orderId}}"
                   hidden
                   name="orderId"
            />
            <input class="form-control" type="hidden" name="orderId" value="{{orderId}}"/>
            <input class="form-control" type="hidden" name="notificationUrl"
                   value="{{callback_host}}/orders/{{orderId}}/{{userId}}"/>
            <input class="form-control" type="hidden" name="redirectUrl" value="{{callback_host}}/orders/{{orderId}}"/>
            <button type="submit" name="choiceKey" value="{{choiceKey}}" class="btn btn-warning text-white btn-lg">
                Pay 1 Satoshi
                <img src="/btc.svg" alt="btc" width="40" height="40"/>
                <span role="img" class="pl-1">
                    ⚡
                </span>
            </button>
        </form>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
