<link rel="stylesheet" href="/style.css">
<div class="my-3">
    <div class="container text-center text-light">
        <h1 class="text-center text-light page-title">Tic Tac Toe</h1>
        <form method="POST" action="https://btcpal.online/apps/4SzvB5nnqAeM6mi8hMjxSeSGw3L3/pos">


            <input readonly
                   id="orderId"
                   value="{{orderId}}"
                   class="form-control"
                   hidden
                   name="orderId"
            />
            <input type="hidden" name="orderId" value="{{orderId}}"/>
            <input type="hidden" name="notificationUrl"
                   value="http://74.207.232.172:4321/notifications/{{orderId}}/{{userId}}"/>
            <input type="hidden" name="redirectUrl" value="http://74.207.232.172:4321/order/{{orderId}}"/>
            <button type="submit" name="choiceKey" value="game" class="btn btn-outline-warning">
                Pay 1 Satoshi
                <img src="/btc.svg" alt="btc" width="40" height="40"/>
                <span role="img" class="pl-1">
                    ⚡
                </span>
            </button>
        </form>

    </div>

</div>
